!!!

! -- here be terminal


! ui {{{

URxvt*scrollBar:      false
URxvt*internalBorder: 15

! }}}


! fonts {{{

! typeface
URxvt*font:        -gohu-gohufont-medium-r-normal--14-100-100-100-c-80-iso10646-1
URxvt*boldFont:    -gohu-gohufont-bold-r-normal--14-100-100-100-c-80-iso10646-1
URxvt*italicFont:  -gohu-gohufont-bold-r-normal--14-100-100-100-c-80-iso10646-1
URxvt.letterSpace: 0

! xft
Xft.dpi:       96
Xft.antialias: 1
Xft.autohint:  0
Xft.hinting:   true
Xft.hintstyle: hintslight
Xft.rgba:      rgb
Xft.lcdfilter: lcddefault

! }}}


! colors {{{

! *foreground:  #fdf3c0
! *background:  #282828
! *cursorColor: #fdf3c0

! *color0:      #282828
! *color18:     #3e3d38
! *color19:     #535147
! *color8:      #696657
! *color20:     #7e7a66
! *color7:      #fdf3c0

! *color21:     #fef7d1
! *color15:     #fefae0

! *color1:      #ce983f
! *color9:      #ce983f

! *color16:     #ce6e3f

! *color3:      #83a598
! *color11:     #83a598

! *color2:      #a6b657
! *color10:     #a6b657

! *color6:      #588778
! *color14:     #588778

! *color4:      #7a925d
! *color12:     #7a925d

! *color5:      #ce983f
! *color13:     #ce983f

! *color17:     #ce6e3f

! }}}



! perl extensions {{{

URxvt*perl-ext-common: default,matcher
URxvt*urlLauncher:     google-chrome-stable

! }}}


! clipboard {{{

URxvt.iso14755:                    false
URxvt.iso14755_52:                 false
URxvt.keysym.Shift-Control-c perl: clipboard:copy
URxvt.keysym.Shift-Control-v perl: clipboard:paste

! }}}
