.color0 {
  color: #090F0E
}

.color1 {
  color: #955535
}

.color2 {
  color: #87786A
}

.color3 {
  color: #948778
}

.color4 {
  color: #CC996D
}

.color5 {
  color: #7A8182
}

.color6 {
  color: #A69D8D
}

.color7 {
  color: #CFC9B6
}

.color8 {
  color: #666666
}

