.color00 {
  color: #282828;
}

.color05 {
  color: #fdf3c0;
}

.color08 {
  color: #ce983f;
}

.color09 {
  color: #ce6e3f;
}

.color0A {
  color: #83a598;
}

.color0B {
  color: #a6b657;
}

.color0C {
  color: #588778;
}

.color0D {
  color: #7a925d;
}

.color0E {
  color: #ce983f ;
}

.color0F {
  color: #ce6e3f;
}
