[core]
	autocrlf = input
[color]
	ui = auto
[color "status"]
	added = 2
	changed = 3
	untracked = 4
[color "branch"]
	remote = 6
[pager]
	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX
[credential]
  helper = '/mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-manager-core.exe'
[credential "https://dev.azure.com"]
  useHttpPath = true

