[user]
	email = pontusnagy@gmail.com
	name = Pontus Nagy
[core]
	autocrlf = input
[color]
	ui = auto
[color "status"]
	added = green
	changed = red bold
	untracked = magenta bold
[color "branch"]
	remote = yellow
[credential]
	helper = store --file ~/.git-credentials
  helper = cache --timeout 86400
