[user]
	email = pontusnagy@gmail.com
	name = Pontus Nagy
[core]
	autocrlf = input
[color]
	ui = auto
[color "status"]
	added = 2
	changed = 1 bold
	untracked = 8
[color "branch"]
	remote = 3
[credential]
	helper = store --file ~/.git-credentials
	helper = cache --timeout 86400
